.button {
  width: 180px;
  height: 54px;
  padding-top: 22px;

  background-color: #10c9c3;

  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 500;
  // line-height: 84px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center;

  border: none;
}